div#slider {
  overflow: hidden;
  border-radius: 1.2rem;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.8);
  position: relative;
}

div#slider figure img {
  aspect-ratio: 16/9;
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: slidy 20s infinite; /* Mantenemos la misma animación */
}

/* Animación igual a la que tenías antes */
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}
