<aside class="container">
  <section>
    <div id="slider">


      <figure>
        <img appLazyLoadImage [lazyLoad]="'assets/carrusel/1.png'" alt="Imagen aplicación de versión móvil" />

        <img appLazyLoadImage [lazyLoad]="'assets/carrusel/2.png'" alt="Ventana de mediciones de la aplicación" />
        <img appLazyLoadImage [lazyLoad]="'assets/carrusel/3.png'" alt="Aplicación completamente accesible" />
        <img appLazyLoadImage [lazyLoad]="'assets/carrusel/4.png'" alt="Vista del vademecum de la aplicación" />
      </figure>
    </div>
  </section>
</aside>